.footer-basic {
  padding:10px;
  background-color:#848484;
  color:#F0F0F0;
  position:relative;
  right:0;
  bottom:0;
  left:0;
  text-align:center;
  height:120px;
  margin-top:-120px;
}

.footer-basic ul {
  padding:0;
  list-style:initial;
  font-size:14px;
  line-height:1.6;
  margin-bottom:0;
  text-align:center;
  color:#f0f0f0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:5px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#f0f0f0;
  margin-bottom:0;
  font-family:Eurostile;
}

#dropdowncss {
  color:#f0f0f0;
}

@media (max-width:991px) {
  #footerlist {
    font-size:10px;
    font-weight:normal;
  }
}

@media (max-width:991px) {
  #footerpara {
    font-size:10px;
  }
}

#footerlogocss {
  max-height:70px;
}

#footerlist li:hover {
  background-color:#428bca;
}

#footerlogo {
  max-height:30px;
}

#footerpara {
  font-size:10px;
  font-weight:normal;
  padding-bottom:10px;
}

@media (max-width:767px) {
  #footer-basic {
    height:90px;
    color:#f0f0f0;
    margin-top:-90px;
  }
}

@media (max-width:991px) {
  #footer-basic {
    height:90px;
    margin-top:-90px;
  }
}

