body#body {
  font-family:eurostile;
  padding-top:70px;
}

a#logginbutton.btn.btn-default.btn-sm.action-button {
  color:#f0f0f0;
  background-color:#428bca;
}

nav#navbar.navbar.navbar-default.navigation-clean-button {
  background-color:#848484;
  color:#f0f0f0;
}

ul#list.nav.navbar-nav li.active a {
  color:#f0f0f0;
}

#logo {
  height:100%;
  width:auto;
  max-height:100%;
}

.navbar-brand {
  padding:0px 10px;
}

#toplogocss {
  max-height:40px;
}

@media (max-width:991px) {
  #toplogocss {
    max-height:30px;
    margin-top:5px;
  }
}

@media (max-width:991px) {
  #navbar {
    font-size:12px;
  }
}

@media (max-width:767px) {
  #toplogocss {
    max-height:40px;
  }
}

#dropdownmenucss {
  font-size-adjust:10px;
}

#navlist li:hover {
  color:white;
  background-color:#428bca;
}

#navlist li {
  color:#f0f0f0;
}

#navtop {
  background-color:#848484;
}

