.navigation-clean-button {
  background:#f0f0f0;
  padding-top:10px;
  padding-bottom:10px;
  color:#848484;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:10px;
}

@media (max-width:767px) {
  .navigation-clean-button {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-right {
    margin-bottom:20px;
  }
}

.navigation-clean-button .navbar-brand {
  color:inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color:#428bca;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean-button .navbar-brand img {
  /*height:100%;*/
  /*display:inline-block;*/
  /*margin-right:10px;*/
  /*width:auto;*/
}

.navigation-clean-button .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus {
  background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle {
  border-color:#848484;
}

.navigation-clean-button .navbar-toggle .icon-bar {
  background-color:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#f0f0f0;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
  /*color:#848484;*/
  /*box-shadow:none;*/
  /*background:none;*/
  /*pointer-events:none;*/
}

.navigation-clean-button.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color:#f0f0f0;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
  color:#f0f0f0!important;
  background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  background-color:#848484;
  /*color:white;*/
  border-radius:2px;
  font-size:10px;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a {
  line-height:2;
  font-size:10px;
  color:#f0f0f0;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
  background:#f0f0f0;
  color:inherit;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a {
    color:#f0f0f0;
    font-size:10px;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean-button.navbar-inverse {
  /*background-color:#428bca;*/
  color:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover {
  /*color:#f0f0f0;*/
  /*box-shadow:none;*/
  /*background:none;*/
  /*pointer-events:none;*/
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a {
  color:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover {
  /*color:#f0f0f0!important;*/
  /*background-color:transparent;*/
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu {
  /*background-color:#848484;*/
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a {
  /*color:#428bca;*/
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover {
  /*background:#848484;*/
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#f0f0f0;
  }
}

.navigation-clean-button .actions {
  margin-top:7px;
  margin-bottom:0;
}

.navigation-clean-button .actions .login {
  /*margin-right:7px;*/
  /*text-decoration:none;*/
  /*color:#848484;*/
}

.navigation-clean-button.navbar-inverse .actions .login {
  /*color:#dfe8ee;*/
}

.navigation-clean-button.navbar-inverse .actions .login:hover {
  /*color:#fff;*/
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
  background:#428bca;
  border-radius:20px;
  color:#f0f0f0;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
  background:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active {
  background:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .action-button:hover {
  background:red;
}

.navigation-clean-button .dropdown-menu > li > a:hover {
  background-color:#428bca;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a:hover {
    color:#428bca;
  }
}

#navlist li {
  font-size:14px;
  font-weight:lighter;
  font-style:normal;
}

@media (max-width:991px) {
  #navlist li {
    font-size:10px;
  }
}

.navigation-clean-button .navbar-nav .open .dropdown-menu > li > a:hover {
  color:white;
}

