/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/

.h3 {
    text-align: center;
}

.content-inside{
 padding-bottom: 130px; 
 
}

.column {
   min-height: 100%;
   text-align: center;
   
   
   
}

.content-inside div#emailcontainer{
    text-align: left;
    margin-bottom: 0;
    padding: 20px;
}

 #velkomst{
      text-align: center; 
  }
  
  html{
      height: 100%;
      margin: 0;
  }

  #body {
  font-family:Eurostile;
  padding-top:80px;
  margin: 0;
  height: 100%;
  
}




@media (max-width:991px) {
  .content-inside {
    padding-bottom: 110px;
  }
  
}

@media (max-width:767px) {
    .content-inside {
        padding-bottom: 110px;
        
    }
    


}
@media (min-width: 991px){
  #emailform{
width: 1100px;
margin: auto;

} 
}