/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/

.footer-basic{
  padding:5px;
  background-color:#848484;
  color:#F0F0F0;
  margin-top: -130px;
  text-align:center;
  height:130px;
  
  
  
}
 #footerlist {
    font-size:17px;
    font-weight:normal;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  


.footer-basic ul {
  padding:0;
  list-style:initial;
  font-size:14px;
  line-height:1.0;
  margin-bottom:0;
  text-align:center;
  color:#f0f0f0;
}

.footer-basic li {
  padding:0 10px;

}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:5px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#f0f0f0;
  margin-bottom:0;
 
}
#footerlogocss {
  max-height:70px;
}

#footerlist li:hover {
  background-color:#337ab7;
}

#footerlogo {
  max-height:30px;
}

#footerpara {
  font-size:15px;
  font-weight:normal;
  padding-bottom:10px;
}



@media  (max-width:1100px) and (min-width: 992px) {
    
    #footerpara { 
    font-size:13px;
    
  }
  #footerlist {
    font-size:15px;
    font-weight:normal;
    margin-bottom: 0px;
    margin-top: 10px;
  }
    #footer-basic {
    height:110px;
    margin-top:-110px;
  }
  #footerlogo {
    max-height:30px;
    margin-bottom: 0;
    margin-top: 0;
}
  
}
@media (max-width:991px) {
  #footerlist {
    font-size:13px;
    font-weight:normal;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  #footerpara {
     
    font-size:15px;
  }

  #footer-basic {
    height:110px;
    margin-top:-110px;
  }
  #footerlogo {
    max-height:30px;
    margin-bottom: 0;
    margin-top: 0;
} 
}