.login-card {
  padding:40px 40px;
  background-color:#F7F7F7;
  border-radius:2px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-card .profile-name-card {
    font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px;
  min-height:1em;
  font-family: Eurostile;
}

.login-card .reauth-email {
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button {
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label {
  color:red;
}

.login-card .form-signin .form-control:focus {
  border-color:rgb(75, 89, 106);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(75, 89, 106);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(75, 89, 106);
}

.login-card .btn.btn-signin {
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(66,139,202);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus {
  background:rgb(75,89,106);
}

.register-user {
    float: left;
}
.forgot-password{
    float: right;
}

.login-card .forgot-password {
  color:rgb(75, 89, 106);
}

.login-card .register-user {
  color:rgb(75, 89, 106);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus {
  color:rgb(75, 89, 106);
}
.login-card .register-user:hover, .login-card .register-user:active, .login-card register-user:focus {
  color:rgb(75, 89, 106);
}

.versionText {
    color:rgb(81, 81, 81);
    font-weight: bold;
    font-size: 10px;
    margin: auto;
    text-align: center;
}

#errorMessage, #errorMessageDeactivated {
    color: #d9534f;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 12px;
    margin: auto;
    text-align: center;
}

@font-face {font-family: "Eurostile";
    src: url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.eot");
    src: url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.svg#Eurostile") format("svg");
}

button#loginBtn.btn.btn-primary {
  color:inherit;
  background:inherit;
  border:hidden;
}

.modal-dialog {
  margin:auto;
  max-width: 350px;
  min-width: 320px;
  width:auto;
}

.modal-body {
  padding:0;
}

.modal-content {
  padding:0;
  margin-top:15px;
}

img {
  clear:both;
  width:100%;
}