/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/
.container{
    width:100%; 
    padding-top: 20px;
    
  
    
}
.leftside{
    width: 35%;
    float: left;    
}
.leftside #scoretable{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   
}
#scoretable ,th ,td{
    border: none;
    text-align: left;
    padding: 8px;   
}

.rightside{
    float: right;
    width:60%;
    padding-top: 20px;
    height: 600px;
    padding-bottom: 20px;  
}
.content-inside{
    padding-top: 20px
    
}


@media  (max-width:1100px) and (min-width: 768px) {
    .rightside{

        display: none;
    }
    .leftside{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width:767px) {
    .container{
        border: none; 
    }
    .leftside{
        width: 100%;
        margin-top: 10px;
        
    }
    
    .rightside{
        display: none;  
        float: bottom;
    }
    
    .rightside iframe{
        display: none;
    }
}


