/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/



#tablediv, #tablefilterdiv{
    
    width: 100%;
    margin: auto;
    clear: both;
    padding-top: 10px;
}
#location{
    border-spacing: 0;
    border-collapse: collapse;
    
}
#tablediv, #tablefilterdiv div.row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 15px;

}
div.row2{
    overflow-x: auto;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
     
     
}
.checkbox{
    text-align: center;
}

#location_paginate{
    text-align: right;
    
}
#location_info{
    text-align: left;
    
}

@media (max-width:767px){
    #location_paginate{
    text-align: center;
}
#location_info{
    text-align: center;
}
#filterbutton{
    text-align: center; 
    margin:0;
    
}

}

