/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/

body {
    display: none;
}

#errorMsgArchiveNumber, #errorMsgTitle, #errorMsgComposer, #errorMsgPassword, #errorMsgPassword2, #errorMsgUserName, #errorMsgUserName2, #errorMsgFirstName, #errorMsgLastName, #errorMsgAddress, #errorMsgZip, #errorMsgCity, #errorMsgEmail, #errorMsgPhone, #settingsStoredMsg, #passwordStoredMsg, #reportMsgActivated, #reportMsgDeactivated, #newrolesok, #badnewroles, #newpasswordmsg, #errorMsgStemmerPart, #errorMsgaddInstrument {
    color: #d9534f;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
}

.register-user {
    float: left;
}
.forgot-password{
    float: right;
}

#errorMessage {
    color: #d9534f;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 12px;
    margin: auto;
    text-align: center;
}

#partTable td {
    min-width: 100px;
    padding-right: 20px;
}

#instrumentTable td {
    min-width: 100px;
    padding-right: 20px;
}

.input-group-addon:focus {
    outline: none;
}

.versionText {
    color:rgb(81, 81, 81);
    font-weight: bold;
    font-size: 10px;
    margin: auto;
    text-align: center;
}

@font-face {font-family: "Eurostile";
    src: url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.eot");
    src: url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/13deed24446c725b134d7448e620fdc0.svg#Eurostile") format("svg");
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#importPreview {
    max-width: 400px;
}

#userImport {
    margin-bottom: 50px;
    max-width: 1000px;
    display: block;
    overflow-x: auto;
    margin:auto;
}

#userImport tbody:focus {
    outline: none;
}

#userImport thead {
    font-weight: bold;
}

#scoreImport {
    margin-bottom: 50px;
    max-width: 1000px;
    display: block;
    overflow-x: auto;
    margin: auto;
}

#scoreImport tbody:focus {
    outline: none;
}

#scoreImport thead {
    font-weight: bold;
}

.import-table-wrapper {
    border: none;
}
.import-table {
    table-layout: fixed;
    margin:40px auto 0px auto;
}

.import-table td {
    border-collapse: collapse;
    border: none;
    min-width: 150px;
}

#approvedUsers {
    margin-bottom: 50px;
}

#approvedUsers th {
    padding: 5px;
}

#approvedUsers td {
    padding: 5px;
}

#rejectedUsers {
    margin-bottom: 50px;
    max-width: 1000px;
    display: block;
    overflow-x: auto;
}

#rejectedUsers th {
    padding: 5px;
}

#rejectedUsers td {
    padding: 5px;
}

#approvedScores {
    margin-bottom: 50px;
}

#approvedScores th {
    padding: 5px;
}

#approvedScores td {
    padding: 5px;
}

#rejectedScores {
    margin-bottom: 50px;
    max-width: 1000px;
    display: block;
    overflow-x: scroll;
}

#rejectedScores th {
    padding: 5px;
    width: auto;
}

#rejectedScores td {
    padding: 5px;
    width: auto;
}

#submitbutton {
    margin-top: 10px;
}

#rolecheckboxholder{
    width: auto;
}

#rolechecklist {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0.5em;
    border-top-left-radius: 0.0em; 
    border-bottom-left-radius: 0.0em; 
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    list-style: none;
    margin-bottom: 0px;
    
}
#rolechecklist label{

padding-left: 7px;
vertical-align: top;
}
@media (max-width:991px){
    #rolecheckboxholder{
        text-align: center;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
    #rolechecklist{
       
    }
}

.customHR {
    width: 50%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loadmodal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: alpha(opacity=30);
    opacity: 1.0;
    -moz-opacity: 1.0;
}
.loadcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 10px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1.0;
    margin:auto;
}

.loadcenter img {
    height: 100px;
    width: 100px;
}

#containerfilter{
    margin-left: 0;
    padding-left: 0;
}

#filterdropdown{
    padding-left: 5px;
}

div.container { 
    max-width: 1200px; 
}

audio {
    width: 84%;
}
#editBtn {
    margin-bottom: 10px;
}